

<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>ThinkShift&#039;s Marketplace</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<title>ThinkShift&#039;s Marketplace</title>
<meta name='robots' content='noindex,follow'/>
<link rel='dns-prefetch' href='//s.w.org'/>
		<script type="text/javascript">window._wpemojiSettings={"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/","svgExt":".svg","source":{"wpemoji":"http:\/\/tsdevserver.com\/wp\/wp-includes\/js\/wp-emoji.js?ver=4.7.3","twemoji":"http:\/\/tsdevserver.com\/wp\/wp-includes\/js\/twemoji.js?ver=4.7.3"}};(function(window,document,settings){var src,ready,ii,tests;var canvas=document.createElement('canvas');var context=canvas.getContext&&canvas.getContext('2d');function browserSupportsEmoji(type){var stringFromCharCode=String.fromCharCode,flag,flag2,technologist,technologist2;if(!context||!context.fillText){return false;}
context.clearRect(0,0,canvas.width,canvas.height);context.textBaseline='top';context.font='600 32px Arial';switch(type){case'flag':context.fillText(stringFromCharCode(55356,56826,55356,56819),0,0);if(canvas.toDataURL().length<3000){return false;}
context.clearRect(0,0,canvas.width,canvas.height);context.fillText(stringFromCharCode(55356,57331,65039,8205,55356,57096),0,0);flag=canvas.toDataURL();context.clearRect(0,0,canvas.width,canvas.height);context.fillText(stringFromCharCode(55356,57331,55356,57096),0,0);flag2=canvas.toDataURL();return flag!==flag2;case'emoji4':context.fillText(stringFromCharCode(55357,56425,55356,57341,8205,55357,56507),0,0);technologist=canvas.toDataURL();context.clearRect(0,0,canvas.width,canvas.height);context.fillText(stringFromCharCode(55357,56425,55356,57341,55357,56507),0,0);technologist2=canvas.toDataURL();return technologist!==technologist2;}
return false;}
function addScript(src){var script=document.createElement('script');script.src=src;script.defer=script.type='text/javascript';document.getElementsByTagName('head')[0].appendChild(script);}
tests=Array('flag','emoji4');settings.supports={everything:true,everythingExceptFlag:true};for(ii=0;ii<tests.length;ii++){settings.supports[tests[ii]]=browserSupportsEmoji(tests[ii]);settings.supports.everything=settings.supports.everything&&settings.supports[tests[ii]];if('flag'!==tests[ii]){settings.supports.everythingExceptFlag=settings.supports.everythingExceptFlag&&settings.supports[tests[ii]];}}
settings.supports.everythingExceptFlag=settings.supports.everythingExceptFlag&&!settings.supports.flag;settings.DOMReady=false;settings.readyCallback=function(){settings.DOMReady=true;};if(!settings.supports.everything){ready=function(){settings.readyCallback();};if(document.addEventListener){document.addEventListener('DOMContentLoaded',ready,false);window.addEventListener('load',ready,false);}else{window.attachEvent('onload',ready);document.attachEvent('onreadystatechange',function(){if('complete'===document.readyState){settings.readyCallback();}});}
src=settings.source||{};if(src.concatemoji){addScript(src.concatemoji);}else if(src.wpemoji&&src.twemoji){addScript(src.twemoji);addScript(src.wpemoji);}}})(window,document,window._wpemojiSettings);</script>
		<style type="text/css">img.wp-smiley,img.emoji{display:inline!important;border:none!important;box-shadow:none!important;height:1em!important;width:1em!important;margin:0 .07em!important;vertical-align:-.1em!important;background:none!important;padding:0!important}</style>
<link rel='stylesheet' id='bbp-default-css' href='http://tsdevserver.com/app/plugins/bbpress/templates/default/css/A.bbpress.css,qver=2.5.12-6148.pagespeed.cf.UDybPq-xWG.css' type='text/css' media='screen'/>
<link rel='stylesheet' id='bp-legacy-css-css' href='http://tsdevserver.com/app/plugins/buddypress/bp-templates/bp-legacy/css/A.buddypress.css,qver=2.8.2.pagespeed.cf.LxLUNj5yDg.css' type='text/css' media='screen'/>
<style id='wsl-widget-css' media='all'>.wp-social-login-provider-list{padding:10px}.wp-social-login-provider-list a{text-decoration:none}.wp-social-login-provider-list img{border:0}</style>
<link rel='stylesheet' id='sage/css-css' href='http://tsdevserver.com/app/themes/thinkshift/dist/styles/main.css.pagespeed.ce.bywQkFsNOn.css' type='text/css' media='all'/>
<script type='text/javascript' src='http://tsdevserver.com/wp/wp-includes/js/jquery/jquery.js,qver=1.12.4.pagespeed.jm.pPCPAKkkss.js'></script>
<script type='text/javascript' src='http://tsdevserver.com/wp/wp-includes/js/jquery/jquery-migrate.js,qver=1.4.1.pagespeed.jm.aNidwfZNZO.js'></script>
<script type='text/javascript'>//<![CDATA[
var BP_Confirm={"are_you_sure":"Are you sure?"};
//]]></script>
<script src="http://tsdevserver.com/app/plugins/buddypress/bp-core/js/confirm.js,qver==2.8.2+widget-members.js,qver==2.8.2+jquery-query.js,qver==2.8.2+vendor,_jquery-cookie.js,qver==2.8.2+vendor,_jquery-scroll-to.js,qver==2.8.2.pagespeed.jc.H-lsrIsQRA.js"></script><script>eval(mod_pagespeed__DBNEhBseZ);</script>
<script>eval(mod_pagespeed_pfvHzWwZJY);</script>
<script>eval(mod_pagespeed_btruLaoFD4);</script>
<script>eval(mod_pagespeed_WzAYR8$rnz);</script>
<script>eval(mod_pagespeed_eqKm7R2GCk);</script>
<script type='text/javascript'>//<![CDATA[
var BP_DTheme={"accepted":"Accepted","close":"Close","comments":"comments","leave_group_confirm":"Are you sure you want to leave this group?","mark_as_fav":"Favorite","my_favs":"My Favorites","rejected":"Rejected","remove_fav":"Remove Favorite","show_all":"Show all","show_all_comments":"Show all comments for this thread","show_x_comments":"Show all comments (%d)","unsaved_changes":"Your profile has unsaved changes. If you leave the page, the changes will be lost.","view":"View"};
//]]></script>
<script type='text/javascript' src='http://tsdevserver.com/app/plugins/buddypress/bp-templates/bp-legacy/js/buddypress.js,qver=2.8.2.pagespeed.jm.ix3h6Nm-K8.js'></script>
<link rel='https://api.w.org/' href='http://tsdevserver.com/wp-json/'/>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://tsdevserver.com/wp/xmlrpc.php?rsd"/>
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://tsdevserver.com/wp/wp-includes/wlwmanifest.xml"/>
<meta name="generator" content="WordPress 4.7.3"/>
<link rel="canonical" href="http://tsdevserver.com/"/>
<link rel='shortlink' href='http://tsdevserver.com/'/>
<link rel="alternate" type="application/json+oembed" href="http://tsdevserver.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Ftsdevserver.com%2F"/>
<link rel="alternate" type="text/xml+oembed" href="http://tsdevserver.com/wp-json/oembed/1.0/embed?url=http%3A%2F%2Ftsdevserver.com%2F&#038;format=xml"/>

	<script type="text/javascript">var ajaxurl='http://tsdevserver.com/wp/wp-admin/admin-ajax.php';</script>

<meta name="generator" content="Piklist 0.9.9.11"/>
		<style type="text/css">.recentcomments a{display:inline!important;padding:0!important;margin:0!important}</style>
		  <script type="text/javascript" src="https://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/js/modernizr.custom.js"></script>

</head>
<body class="home-page home page-template page-template-template-dashboard page-template-template-dashboard-php page page-id-8 with-top-navbar no-js">

<div class="container">
  <header>
    <nav>
      <ul>
        <li><a href="#">Home</a>
      </ul>
    </nav>
  </header>
</div>

<!--LOAD ONLY ON career -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/app/themes/thinkshift/assets/scripts/career.js.pagespeed.jm.Fn7OdcuwM6.js"></script>
<script>$(function(){Grid.init();});</script>
<script src="http://tsdevserver.com/app,_plugins,_bbpress,_templates,_default,_js,_editor.js,qver==2.5.12-6148+wp,_wp-includes,_js,_comment-reply.js,qver==4.7.3+app,_themes,_thinkshift,_dist,_scripts,_main.js+wp,_wp-includes,_js,_wp-embed.js,qver==4.7.3.pagespeed.jc.IF2zZpSmHF.js"></script><script>eval(mod_pagespeed_d7FPIjNc8m);</script>
<script>eval(mod_pagespeed_tBjEe7uA59);</script>
<script>eval(mod_pagespeed_L6J_XyW5UT);</script>
<script>eval(mod_pagespeed_V88CVr$XiS);</script>

<!-- This website is powered by Piklist. Learn more at http://piklist.com/ -->
</body>
</html>
