$themec-blue: #4ca8cf;
$themec-yellow: #ffc637;
$themec-orange: #FF9137;
$themec-blue-dark: #173440;

.bg-themec-blue {background-color: $themec-blue !important;}
.bg-themec-yellow {background-color: $themec-yellow !important;}
.bg-themec-orange {background-color: $themec-orange !important;}
.bg-themec-blue-dark {background-color: $themec-blue-dark !important; color: #fff !important;}

.card {
  td a {
    color: $themec-blue;
  }
  .card-header {
    .icon {
      top: 4px;
      position: relative;
      left: -9px;
    }
  }
}

#dashboard-career-card {
  th {
    width: 25%;
  }
}

#dashboard-dream-declaration {
  h4 {
    color: #fff;
  }
}

#dashboard-strengths {
  a {
    color: #4ca8cf;
  }
  .tab-content {
    padding: 20px 0;
  }
}
