/* fixes for theme-flat */




/* fixes nav alignment */
#navbar
  display: block

nav .collapse.in
  display: flex


aside.app-sidebar,
.navbar
  z-index: 10


.main
  padding: 30px

.navbar-right .dropdown-menu
  left: auto