
/* darken/lightens the active/hover states of .btn-primary */
$active-background: darken($btn-success-bg, 20%);
$active-border: darken($btn-success-bg, 22%);


.card-header .btn-default {

  .show > &.dropdown-toggle {
    //color: $btn-success-color;
    //background-color: $active-background;
    //background-image: none; // Remove the gradient for the pressed/active state
    //border-color: $active-border;
    //@include box-shadow($btn-active-box-shadow);
  }


  &:active,
  &.active {
    background-color: $btn-success-bg !important;
    border-color: $btn-success-border;
    color: $btn-success-color;
  }

  @include hover {
    background-color: $btn-success-bg;
    border-color: $btn-success-border;
    color: $btn-success-color;
  }


}
