




/* give video modals no background */
.modal.modal-video .modal-dialog {
  max-width: 50%;

  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }

  .modal-content {
    background-color: transparent;
    border: none;
    .modal-body { padding: 0; }
  }
  iframe {
    height: auto;
    min-height: 500px;
    width: 100%;
  }
}
