




/* give video modals no background */
.modal-video .modal-dialog {
  max-width: 50%;

  .modal-content {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  iframe {
    height: auto;
    min-height: 500px;
    width: 100%;
  }
}
